<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div *ngIf="htmlMessage" [innerHTML]="htmlMessage"></div>
    <p *ngIf="!htmlMessage">{{message}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="activeModal.close(true)">{{yesButtonText}}</button>
    <button *ngIf="!hideNoButton" type="button" class="btn btn-secondary" (click)="activeModal.close(false)">{{noButtonText}}</button>
</div>