<div *ngFor="let item of viewport.view" class="{{cssClass}}">
    <ng-container *ngTemplateOutlet="template; context: {$implicit: item}"></ng-container>
</div>
<div class="paging-box" *ngIf="viewport.view?.length > 0">{{viewport.view?.length}} of {{viewport.total || viewport.collection?.length}}</div>
<div *ngIf="viewport.view?.length > 0 && viewport.view?.length < (viewport.total || viewport.collection?.length)" class="box text-center">
    <button type="button" class="btn btn-secondary" (click)="loadMore()">Load more</button>
</div>