<form class="add-journey" #addjourneyForm="ngForm" (ngSubmit)="save()">
    <div class="modal-header">
        <h4 class="modal-title">Add journey</h4>
        
        <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="list-group-item form-group">
            <div class="row doc-panel-heading">
                <div class="col-md font-medium">
                    Approved journeys
                </div>
                <div>
                    <app-inline-search (onSearch)="filterJourneys($event)" (onCancel)="canceljourneyFilter()" placeHolder="Filter by name or desc">
                    </app-inline-search>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!canSave() || endTimeInvalid">Save</button>
        <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Close</button>
    </div>
</form>